<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shunmai.zryp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //用于硬盘缓存和读取
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.open.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.open.WelcomeActivity"
            android:theme="@style/AppTheme.WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".ui.goods.GoodsDetailActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.goods.GoodsListActivity"
            android:label="@string/title_activity_goods_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.userinfo.order.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.userinfo.order.ScoreActivity"
            android:label="@string/title_activity_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.userinfo.order.UserApproveActivity"
            android:label="@string/title_activity_user_approve"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.goods.GoodsOrderActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.userinfo.account.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.userinfo.account.UserHandleActivity" />
        <activity
            android:name=".ui.goods.GoodsSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.userinfo.account.AddressListActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.userinfo.account.AddressDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.userinfo.account.FootPrintActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.userinfo.underling.MyUnderlingActivity" />
        <!-- 微信登录 begin -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name=".ui.userinfo.score.ExchangeScoreActivity" />
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.userinfo.score.ScoreDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".ApkUpdateFileProvider"
            android:authorities="com.shunmai.zryp.updateFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.userinfo.account.CollectActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.goods.GoodsPromotionActivity" />
        <activity android:name=".ui.goods.GoodsSecKillActivity" />
        <activity android:name=".ui.goods.PreProActivity" />
        <activity android:name=".ui.goods.VipGoodsActivity" />
        <activity android:name=".ui.goods.GoodsPaySuccessActivity"></activity>
    </application>

</manifest>